{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'AcmeHelloBundle:Hello:base.html.twig' %}
 
{% block body %}
    {#{% for entry in blog_entries %}
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.body }}</p>
    {% endfor %}#}
    {{name}}
    
{% endblock %}

